# dependencies
node_modules/
.pnp
.pnp.js

# builds
dist/
build/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local
!.env.example

# prisma
apps/api/prisma/*.db

# logs
*.log
npm-debug.log*

# editor / os
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
